<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animales</title>
    <link rel="stylesheet" href="../css/animal.css">
    <script type="module" src="../js/animal.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>Animales</h1>
        <div class="animal">
            <h2>Animal</h2>
            <p id="animalName"></p>
            <p id="animalAge"></p>
            <button id="animalSoundBtn">Hacer Sonido</button>
        </div>
        <div class="perro">
            <h2>Perro</h2>
            <p id="perroName"></p>
            <p id="perroAge"></p>
            <p id="perroRaza"></p>
            <button id="perroSoundBtn">Hacer Sonido</button>
            <button id="perroTailBtn">Mover Cola</button>
        </div>
        <li class="boton">
            <a href="../views/figura.html">
              <p>siguiente ejercicio</p>
            </a>
        </li>
    </div>
</body>
</html>
